td:nth-child(3), td:nth-child(4), td:nth-child(5),
th:nth-child(3), th:nth-child(4), th:nth-child(5) {
	display: none;
}

table {
	border-spacing: 0;
	border: 1px solid var(--dark-back);
	overflow: hidden;
}

th, td {
	padding: 0.5rem;
}

td:nth-child(1) {
	text-align: right;
}

tr:nth-child(even) {
	background-color: var(--dark-back);
}

th {
	background-color: var(--dark-base);
	color: var(--background-color);
}

@media only screen and (max-width: 1599px) {
	table {
		width: 100%;
		display: block;
		overflow-x: scroll;
	}
}
