:root {
	--black: #000000;
	--base: #765827;
	--dark-base: #65451F;

	--back: #EAC696;
	--dark-back: #C8AE7D;

	--text-color: var(--black);
	--background-color: var(--back);
}

html {
	height: 100vh;
	overflow: hidden;
}

body {
	display: flex;
	flex-direction: column;
	margin: 0;
	height: 100%;
	color: var(--text-color);
	background: var(--background-color);
	font-family: Helvetica, Arial, sans-serif;
}

header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-size: 1rem;
	box-sizing: border-box;
	padding: 0 0.75rem;
	flex-grow: 0;
	flex-shrink: 0;
	color: var(--background-color);
	background: var(--dark-base);
}

main {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	padding: 1rem;
	align-items: center;
	flex-grow: 1;
	overflow-y: scroll;
	overflow-x: hidden;
	width: 100%;
	margin: 0;
}

footer {
	display: flex;
	flex-direction: row;
	box-sizing: border-box;
	padding: 0 0.75rem;
	width: 100%;
	flex-grow: 0;
	flex-shrink: 0;
	justify-content: space-around;
	color: var(--background-color);
	background: var(--dark-base);
}

a {
	color: inherit;
}

header a {
	text-decoration: none;
}

footer a {
	text-decoration: none;
}

.footer-text {
	display: flex;
	flex-direction: row;
	gap: 0.25rem;
}

.mobile {
	display: none;
}

.desktop {
	display: initial;
}

@media only screen and (max-width: 1600px) {
	body {
		display: block;
		overflow: scroll;
		font-size: 1.5rem;
	}

	header {
		font-size: 1.5rem;
		padding: 1rem 0.75rem;
	}

	main {
		padding: 0.5rem;
		overflow: hidden;
	}

	footer {
		padding: 1rem 0.75rem;
	}

	.mobile {
		display: initial;
	}

	.desktop {
		display: none;
	}
}
